header {
  display: flex;
  flex-direction: column; }
  header .top-header {
    background: #1F1F1F; }
    header .top-header .container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
